/* estilo general del cuerpo */

html{

    font-size: 62.5%;
    word-spacing: 0.3em;
    letter-spacing: 0.03em;
    overflow-x: hidden;
    overflow-y: scroll;
    min-height: 720px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: grid;
    grid-template-areas: "header main form"
    "header main form";
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: stretch;
    max-width: 1400px;
    margin: auto;
    background-image: -webkit-radial-gradient(-11111px top, ellipse, $thirdgradient 71%, #ffffff 41%);
    background-repeat: no-repeat;
}