/* estilo general del cuerpo */

html{

    font-size: 62.5%;
    word-spacing: 0.3em;
    letter-spacing: 0.03em;
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: grid;
    grid-template-areas: "header main form"
    "header main form"
    "header main form";
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: auto auto auto;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: stretch;
    max-width: 1600px;
    margin: auto;
    background-image: linear-gradient(to left top, #004aad, #005ebf, #0072cf, #0087df, #159bed, #52a8f3, #75b6f9, #91c4ff, #b8d0ff, #d6deff, #edeefe, #ffffff);
}