/* NORMALIZADOR */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: anywhere;
}

// RESPONSIVE
/* 
@media only screen and (max-width: 991px){
    margin: 0 !important;
} */