//VARIABLES
$primary: #004AAD;
$secondary: #5271FF;
$secondgradient: rgb(56, 182, 255);
$thirdgradient: #5CE1E6;
$back-letter: rgb(245, 245, 245);
$genWidth: 1200px;
$genHeight: 1200px;
$borderRadius: 10px;
