<aside class="sidebar">
    <form class="formulario" action="/prueba" method="POST">
        <!-- Inicio formulario de Solicitud de credito -->
        <div>
            <h3 class="tituloForm">Calificá a un crédito con nosotros</h3>
            <h4 class="segundoForm">Tenemos las mejores tasas del mercado.</h4>
        </div>
    
        <div>
            <label for="Nombre">Nombre</label>
            <input class="elemento" type="text" name="Nombre">       
        </div>     
        <div>
            <label for="Apellido">Apellido</label>
            <input class="elemento" type="text" name="Apellido">    
        </div>
        <div>
            <label for="DNI">Nro de DNI</label>
            <input class="elemento" type="text" name="DNI">    
        </div>
        <div>
            <label for="Teléfono">Teléfono</label>
            <input class="elemento" type="text" name="Teléfono">    
        </div>
        <div>
        <label for="E-Mail">E-Mail</label>
            <input class="elemento" type="email" name="E-Mail">
        </div>
        <div>
            <label for="Crédito">Tipo de crédito</label>
             <select class="elemento" name="Crédito" id="">
              <option value="Personal">Personal</option>
              <option value="Refacciones">Refacciones</option>
              <option value="Cba">Hipotecario</option>
              <option value="Tuc">Prendario</option>             
             </select>
        </div>
        <div>
            <label for="Cuotas">Cantidad de cuotas</label>
             <select class="elemento" name="Crédito" id="">
              <option value="6">6</option>
              <option value="12">12</option>
              <option value="18">18</option>
              <option value="24">24</option>           
              <option value="36">36</option>
              <option value="48">48</option>
              <option value="60">60</option>
              <option value="120">120</option>       
              <option value="240">240</option>
             </select>
        </div>
        <div>
             <label for="Condicion trib">Condición tributaria</label>
             <input type="radio" name="Ocupacion" id="OptionYes"> 
             <label for="OptionYes">Empleado</label>
             <input type="radio" name="Ocupacion" id="OptionNo">
             <label for="OptionNo">Autónomo</label>
        
        </div>
        <div class="submit">
            <input class="submitButton" type="submit" value="Evaluar">
            <input type="reset" value="Borrar">
        </div>
        <!-- Fin de formulario de Solicitud de crédito -->
   </form>
</aside>