header{
    grid-area: header;
    padding-top: 8rem;
    vertical-align: middle;
    background-color: $primary;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh auto auto;
    row-gap: 1rem;
    height: 100vh;
    min-height: 720px;
    .logo{
        background-image: url(../public/conceptos.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .logo__picture__img {
        width: 100%;
    }
    .conditions{
        color: $back-letter;
        text-align: justify;
        line-height: 1.5rem;
        padding: 3rem;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    footer{
        grid-row-start: 3;
        grid-row-end: 4;
        align-items: baseline;
        justify-content: center;
        position: relative;
        & .socialMedia{
            display: flex;
            justify-content: space-around;
            position: absolute;
            bottom: 7rem;
            width: 100%;
            & .iconify {
                transform: scale(4);
            }
        }
        & .copyright {
            color: $back-letter;
            position: absolute;
            bottom: 3rem;
            margin-left: 12rem;
        }
    }
}

main{
    font-size: 1.7em;
    grid-area: main;
    padding: 5rem 1rem 3rem 1rem;
    line-height: 1.4;
    height: 100vh;
    min-height: 720px;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
        display: none;
      }
    div {
        margin-top: 2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        & h1{
            color: $primary;
            //text-align: center;
        }
        & p{
            text-align: justify;
            align-items: center;
        }
    } 
    .divButton{
        display: none;
        justify-content: center;
        & .simulador{
            background-color: $primary;
            font-size: 2rem;
            font-weight: bold;
            padding: 1rem;
            border: none;
            border-radius: 1rem;
            & a{
                text-decoration: none;
                color: $back-letter;
            }
        }
    }

}

aside{
    padding-top: 7.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-area: form;
    font-size: 3rem;
    height: 100vh;
    min-height: 720px;
    & div h1, p{
        color: $primary;
        text-align: center;
        align-items: center;
        margin: 1rem;
    }
    form{
        font-size: 2rem;
        padding: 1rem;
        background: rgba(56, 182, 255, 0.4);
        border-radius: 0.3rem;
        position: sticky;
        top: 3rem;

        & .combinedLine {
            display: flex;
            justify-content: space-around;
            & .elemento{
                width: 45%;
                margin: 1rem;
            }
        }


    }
    .elemento{
        width: 95%;
        margin: 1rem;
        font-size: 2rem;
        padding: 1rem;
    }

    .valid{
        border: solid 2px green;
    }
    .invalid{
        border: solid 2px red;
    }

}
input, button, select{
    height: 4.5rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

.submit{

    display: flex;
    justify-content: space-around;
    margin: 2rem 1rem 1rem 1rem;
    input[type="submit"], input[type="reset"], button{
        width: 100%;
        background-color: $primary;
        color: $back-letter;
        font-size: 2rem;
        font-weight: bold;
    }
    & .button {
        margin: 0 1rem 0 0;
    }
    & .restart {
        width: 100%;
        margin-left: 1rem;
    }
    & .submi {
        background-color: red;
    }
}

.responsiveFooter{
    display: none;
}

//RESPONSIVE

@media only screen and (max-width: 900px){
    header{
        height: 100%;
        grid-template-rows: 40vh auto 40vh;
        & .conditions p {
            position: sticky;
            top: 2rem;
            bottom: auto;
        }
    }
    main{
        height: 100%;
        overflow-y: visible; 
        & .divButton{
            display: flex;
            position: sticky;
            top: 3rem;
        }
    }
    aside{
        padding-top: 4rem;
    }
}

@media only screen and (max-width: 630px){
    header  {
        padding-top: 0;
        height: 20vh;
        min-height: auto;
        grid-template-rows: auto;
        grid-template-columns: auto;
        & .logo {
            background-image: url(../public/conceptos-responsive.png); 
        }
        & .conditions {
            display: none;
        }
        & footer {
            display: none;
        }
    }
    main {
        padding-top: 2rem;
    }
    aside {
        height: 100%;
        min-height: auto;
        & form div .respCred {
            font-family: inherit;
            color: $primary;
            background-color: $back-letter;
            border-radius: 1rem;
            border: none;
        }
    }
    .responsiveFooter {
        padding: 2rem;
        display: initial;
        background-color: $primary;
        color: $back-letter;
        align-items: baseline;
        justify-content: center;
        & .conditionsFoot{
            color: $back-letter;
            text-align: justify;
            line-height: 1.5rem;
            padding: 2rem;
        }
        & .socialMedia{
            margin-top: 3rem;
            display: flex;
            justify-content: space-around;
            position: initial;
            margin-bottom: 2rem;
            width: 100%;
            & .iconify {
                transform: scale(3);
            }
        }
        & .copyright {
            color: $back-letter;
            position: initial;
            bottom: 1rem;
            display: flex;
            justify-content: center;
        }
    }
}