header{
    grid-area: header;
    padding-top: 8rem;
    vertical-align: middle;
    background-color: $primary;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1rem;
    .logo__picture__img {
        width: 100%;
    }
    div {
        font-weight: bold;
        text-align: center;
        margin-top: 1rem;
    }
    h1{
        color: whitesmoke;
        text-align: center;     
    }
    footer{
        grid-row-start: 2;
        grid-row-end: 3;
        align-items: baseline;
        justify-content: center;
        position: relative;
        & .socialMedia{
            display: flex;
            justify-content: space-around;
            position: absolute;
            bottom: 7rem;
            width: 100%;
            & .iconify {
                transform: scale(4);
            }
        }
    }
}

main{
    font-size: 1.7em;
    grid-area: main;
    padding: 8rem 1rem 3rem 1rem;
    line-height: 1.4;
    div {
        margin-top: 2.2rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        & h1{
            color: $primary;
            //text-align: center;
        }
        & p{
            text-align: justify;
            align-items: center;
        }
    } 
}

aside{
    padding-top: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-area: form;
    font-size: 3rem;
    & div h1, p{
        color: $primary;
        text-align: center;
        align-items: center;
        margin: 1rem;
    }
    form{
        font-size: 2rem;
        padding: 1rem;
        background: rgba(56, 182, 255, 0.4);
        border-radius: 0.3rem;
        position: sticky;
        top: 3rem;

        & .combinedLine {
            display: flex;
            justify-content: space-around;
            & .elemento{
                width: 45%;
                margin: 1rem;
            }
        }


    }
    .elemento{
        width: 95%;
        margin: 1rem;
        font-size: 2rem;
        padding: 1rem;
    }
    .sidebar{

    }
}
input, select{
    height: 4.5rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
}

.submit{
    display: flex;
    justify-content: space-around;
    input[type="submit"], input[type="reset"]{
        width: 45%;
        background-color: $primary;
        color: $back-letter;
        font-size: 2rem;
        font-weight: bold;
    }
}